<!DOCTYPE html>
<html lane="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victoria Zepeda</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Victoria Zepeda</h1>
    <h2>PORTFOLIO</h2>
    <!-- botones de filtros -->
    <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Show all</button>
        <button class="btn" onclick="filterSelection('voluntariado')"> Nature</button>
        <button class="btn" onclick="filterSelection('trabajo')"> Cars</button>
        <button class="btn" onclick="filterSelection('contactos')"> People</button>
    </div>

<!-- Portfolio Contenido -->
    <div class="row">
    <!-- Sección de voluntariado-->
        <div class="column voluntariado">
            <div class="content">
                <h4>Voluntariado</h4>
            </div>
        </div>
        <div class="column voluntariado">
            <div class="content">
                <img src="/images/TALK.jpg" alt="TALK" style="width:100%">
                <h4>Coordinadora de recursos humanos - TALK ESEN</h4>
                <p>2019-actualidad</p>
            </div>
        </div>
        <div class="column voluntariado">
            <div class="content">
                <img src="/images/EM.jpg" alt="ESEN MUSIC" style="width:100%">
                <h4>Coordinadora de logística - ESEN MUSIC</h4>
                <p>2020-actualidad</p>
            </div>
        </div>
        <div class="column voluntariado">
            <div class="content">
                <img src="/images/Raíces.png" alt="Raíces" style="width:100%">
                <h4>Voluntaria para Raíces ESEN</h4>
                <p>2020</p>
            </div>
        </div>

        <!-- Sección de trabajo-->
        <div class="column trabajo">
            <div class="content">
                <h4>Trabajo</h4>
            </div>
        </div>
        <div class="column trabajo">
            <div class="content">
                <img src="/images/agricola.jpg" alt="Banco Agrícola" style="width:100%">
                <h4>Banco Agrícola</h4>
                <p>2021</p>
            </div>
        </div>
        <div class="column trabajo">
            <div class="content">
                <img src="/images/excel.png" alt="Excel Automotríz" style="width:100%">
                <h4>Excel Automotríz</h4>
                <p>2021</p>
            </div>
        </div>
        <div class="column trabajo">
            <div class="content">
                <img src="/images/esen.png" alt="ESEN" style="width:100%">
                <h4>Ayudante ESEN</h4>
                <p>2022</p>
            </div>
        </div>

        <!-- Sección de contactos-->
        <div class="column contactos">
            <div class="content">
                <h4>Contactos</h4>
            </div>
        </div>
        <div class="column contactos">
            <div class="content">
                <img src="/images/jose-elias-ventura.jpg" alt="Elías Ventura" style="width:100%">
                <h4>Elías Ventura</h4>
                <p>eventura@esen.edu.sv</p>
            </div>
        </div>
        <div class="column contactos">
            <div class="content">
                <img src="/images/Jose-maria-Velasquez.jpg" alt="José María Velásquez" style="width:100%">
                <h4>José María Velásquez</h4>
                <p>jvelasquez@esen.edu.sv</p>
            </div>
        </div>
        <div class="column contactos">
            <div class="content">
                <img src="/images/araujo.jpg" alt="Jorge Araujo" style="width:100%">
                <h4>Jorge Araujo</h4>
                <p>jaraujo@esen.edu.sv</p>
            </div>
        </div>
    <!-- END GRID -->
    </div> 
    <!-- JavaScript -->
    <script src="/script.js"></script>
</html>
